
{% load crispy_forms_tags %}



{% block content %}



<div class="col-sm-6 col-sm-offset-3">
		<h2>{{ship_title}}</h2>

		<form method="POST" action="">	{% csrf_token %}
			{{ ship_form|crispy }}
			<input name="add_shipping" type="submit" class='btn'value="Save edit" />

		</form>

&nbsp&nbsp&nbsp

	<h2>Transportadoras Cadastrados</h2>
		<table class="table table-condensed">
			<thead>
				<th>Transportadora</th>	
				<th>Cnpj</th>
				<th>Telefone</th>

			</thead>

			
			{% for shipping in shippings %}
			<tbody>
				<thead>
					<tr>

						<td>{{ shipping.name }}</td>
						<td>{{ shipping.cnpj}}</td>
						<td>{{ shipping.phone}}</td>
						

								
								<td align="center "><a class="btn btn-primary btn-xs" type="button" href="{% url "edit_shippings" shipping.id %}">Edit</a></td>
								<td align="center "><a class="glyphicon glyphicon-remove" href="{% url "delete_shippings" shipping.id %}"></a></td>
								
							
					</tr>
				<thead>	
			</tbody>


			{% endfor %}


		</table>
	</div>
{% endblock %}
