{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{% static 'favicon.ico' %}">

  <title>Orçamento Fácil</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
</head>

<body role="document">
  {% include 'navbar.html' %}

  <div class="container">
    <div class="body-content offset1">
      <div class="row">
        <div class="col-lg-2 col-12" style="padding-top: 110px; padding-bottom: 30px">
          <p><button type="button" class="btn btn-success btn-block">
            <span class="glyphicon glyphicon-usd pull-left" style="font-size:18px;"></span>Orçamentos
          </button></p>
          <p><a href="{% url 'cadastros' %}">
            <button type="button" class="btn btn-primary btn-block">
              <span class="glyphicon glyphicon-th-list pull-left" style="font-size:15px;"></span>Cadastros
            </button></a></p>

          <ul class="nav nav-pills nav-stacked">
            <li><a href="/"><span class="badge pull-right">8</span>Pendentes</a></li>
            <li><a href="/"><span class="badge pull-right">8</span>Aceitos</a></li>
            <li><a href="/"><span class="badge pull-right">18</span>Recusados</a></li>
          </ul>
        </div>

        <div class="col-lg-10 col-12">
          {% block content %}{% endblock %}
        </div>
      </div>
      <hr>
    </div>
  </div>

  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script>
    $(document).ready(function() {
      {% block jquery %}{% endblock %}
    });
  </script>
</body>
</html>
